# üë©üèª‚Äçüíª Unit 2: Data Collection, Wrangling and Feature Engineering In Machine Learning
- Lesson 2.1 ‚Äì Get Financial Data Using SimFin Platform
- Lesson 2.2 ‚Äì Read Financial Data in CSV Format Using Pandas
- Lesson 2.3 ‚Äì Perform Data Merging
- Lesson 2.4 ‚Äì Locate, Count, and Handle Missing Datasets
- Lesson 2.5 ‚Äì Perform One-Hot Encoding
- Lesson 2.6 ‚Äì Perform Feature Engineering

---

## What is Data Wrangling?
- Data wranging involves cleaning and organizing raw dataset by merging multiple sources of data, handling missing values, and converting data from one format to another.
## What is Feature Engineering?
- Feature engieering involves transforming features in a dataset with the goal of improving the performance of downstream machine learning models. Feature engineering involves feature selection, scaling, and creating new features from existing ones.

### üé¨ Lesson 2.1: Get Financial Data Using SimFin Platform

!pip install simfin

In [1]:
import warnings
warnings.filterwarnings("ignore")

- Link to SimFin Platform: www.simfin.com
- Link to documentation and tutorials:https://github.com/SimFin/simfin-tutorials

In [2]:
import simfin as sf
import pandas as pd
import numpy as np
import os

In [3]:
sf.set_api_key('d816079c-ec3b-4519-8849-38274ea087ba')
dir_path = './simfin_data'
if not os.path.exists(dir_path): 
    os.mkdir(dir_path)
sf.set_data_dir(dir_path)

In [4]:
income_df = sf.load_income(variant='quarterly', market = 'us').reset_index()
income_df.head(5)

Dataset "us-income-quarterly" on disk (0 days old).
- Loading from disk ... Done!

,Ticker,Report Date,SimFinId,Currency,Fiscal Year,Fiscal Period,Publish Date,Restated Date,Shares (Basic),Shares (Diluted),...,Non-Operating Income (Loss),"Interest Expense, Net","Pretax Income (Loss), Adj.",Abnormal Gains (Losses),Pretax Income (Loss),"Income Tax (Expense) Benefit, Net",Income (Loss) from Continuing Operations,Net Extraordinary Gains (Losses),Net Income,Net Income (Common)
0,A,2019-10-31,45846,USD,2019,Q4,2019-12-19,2019-08-30,309000000.0,313000000.0,...,-19000000.0,-15000000.0,231000000.0,NaN,231000000,-37000000.0,194000000,NaN,194000000,194000000
1,A,2020-01-31,45846,USD,2020,Q1,2020-03-03,2021-03-02,310000000.0,313000000.0,...,4000000.0,-17000000.0,219000000.0,NaN,219000000,-22000000.0,197000000,NaN,197000000,197000000
2,A,2020-04-30,45846,USD,2020,Q2,2020-06-01,2021-06-01,309000000.0,312000000.0,...,19000000.0,-17000000.0,121000000.0,NaN,121000000,-20000000.0,101000000,NaN,101000000,101000000
3,A,2020-07-31,45846,USD,2020,Q3,2020-09-01,2021-09-01,309000000.0,312000000.0,...,-11000000.0,-18000000.0,219000000.0,NaN,219000000,-20000000.0,199000000,NaN,199000000,199000000
4,A,2020-10-31,45846,USD,2020,Q4,2020-12-18,2021-09-01,308000000.0,311000000.0,...,-16000000.0,-18000000.0,283000000.0,NaN,283000000,-61000000.0,222000000,NaN,222000000,222000000

In [5]:
cashflow_df = sf.load_cashflow(variant = 'quarterly', market = 'us').reset_index()
cashflow_df.head(5)

Dataset "us-cashflow-quarterly" on disk (0 days old).
Done!ding from disk ...

,Ticker,Report Date,SimFinId,Currency,Fiscal Year,Fiscal Period,Publish Date,Restated Date,Shares (Basic),Shares (Diluted),...,Net Cash from Operating Activities,Change in Fixed Assets & Intangibles,Net Change in Long Term Investment,Net Cash from Acquisitions & Divestitures,Net Cash from Investing Activities,Dividends Paid,Cash from (Repayment of) Debt,Cash from (Repurchase of) Equity,Net Cash from Financing Activities,Net Change in Cash
0,A,2019-10-31,45846,USD,2019,Q4,2019-12-19,2019-08-30,309000000.0,313000000.0,...,314000000,-30000000.0,NaN,-1.160000e+09,-1.193000e+09,-51000000.0,600000000.0,-47000000.0,497000000.0,-383000000
1,A,2020-01-31,45846,USD,2020,Q1,2020-03-03,2021-03-02,310000000.0,313000000.0,...,-59000000,-34000000.0,NaN,NaN,-3.500000e+07,-56000000.0,56000000.0,-28000000.0,-61000000.0,-156000000
2,A,2020-04-30,45846,USD,2020,Q2,2020-06-01,2021-03-02,309000000.0,312000000.0,...,313000000,-33000000.0,NaN,NaN,-5.300000e+07,-55000000.0,25000000.0,-126000000.0,-156000000.0,97000000
3,A,2020-07-31,45846,USD,2020,Q3,2020-09-01,2021-06-01,309000000.0,312000000.0,...,290000000,-24000000.0,NaN,NaN,-3.200000e+07,-56000000.0,-161000000.0,-9000000.0,-231000000.0,35000000
4,A,2020-10-31,45846,USD,2020,Q4,2020-12-18,2021-09-01,308000000.0,311000000.0,...,377000000,-27000000.0,NaN,NaN,-2.700000e+07,-55000000.0,35000000.0,-246000000.0,-269000000.0,83000000

In [6]:
balance_df = sf.load_balance(variant = 'quarterly', market = 'us').reset_index()
balance_df.head(5)

Dataset "us-balance-quarterly" on disk (0 days old).
Done!ding from disk ...

,Ticker,Report Date,SimFinId,Currency,Fiscal Year,Fiscal Period,Publish Date,Restated Date,Shares (Basic),Shares (Diluted),...,Short Term Debt,Total Current Liabilities,Long Term Debt,Total Noncurrent Liabilities,Total Liabilities,Share Capital & Additional Paid-In Capital,Treasury Stock,Retained Earnings,Total Equity,Total Liabilities & Equity
0,A,2019-10-31,45846,USD,2019,Q4,2019-12-19,2020-12-18,309000000.0,313000000.0,...,616000000.0,2.080000e+09,1.791000e+09,2.624000e+09,4.704000e+09,5.280000e+09,NaN,-18000000.0,4.748000e+09,9452000000
1,A,2020-01-31,45846,USD,2020,Q1,2020-03-03,2020-03-03,310000000.0,313000000.0,...,675000000.0,1.892000e+09,1.787000e+09,2.761000e+09,4.653000e+09,5.296000e+09,NaN,73000000.0,4.848000e+09,9501000000
2,A,2020-04-30,45846,USD,2020,Q2,2020-06-01,2020-06-01,309000000.0,312000000.0,...,700000000.0,1.945000e+09,1.788000e+09,2.742000e+09,4.687000e+09,5.291000e+09,NaN,15000000.0,4.768000e+09,9455000000
3,A,2020-07-31,45846,USD,2020,Q3,2020-09-01,2020-09-01,309000000.0,312000000.0,...,40000000.0,1.314000e+09,2.283000e+09,3.251000e+09,4.565000e+09,5.327000e+09,NaN,130000000.0,4.981000e+09,9546000000
4,A,2020-10-31,45846,USD,2020,Q4,2020-12-18,2021-12-17,308000000.0,311000000.0,...,75000000.0,1.467000e+09,2.284000e+09,3.287000e+09,4.754000e+09,5.314000e+09,NaN,81000000.0,4.873000e+09,9627000000

**‚ùáÔ∏è PRACTICE OPPORTUNITY:**
- Load the annual cashflow statements for US companies using SimFin and store them in cashflow_annual_df Pandas DataFrame
- What is the memory usage of the cashflow_annual_df Pandas DataFrame?

In [7]:
# Practice 1:
cashflow_annual_df = sf.load_cashflow(variant = 'annual', market = 'us').reset_index()
cashflow_annual_df.head(5)

Dataset "us-cashflow-annual" on disk (0 days old).
Done!ding from disk ...

,Ticker,Report Date,SimFinId,Currency,Fiscal Year,Fiscal Period,Publish Date,Restated Date,Shares (Basic),Shares (Diluted),...,Net Cash from Operating Activities,Change in Fixed Assets & Intangibles,Net Change in Long Term Investment,Net Cash from Acquisitions & Divestitures,Net Cash from Investing Activities,Dividends Paid,Cash from (Repayment of) Debt,Cash from (Repurchase of) Equity,Net Cash from Financing Activities,Net Change in Cash
0,A,2019-10-31,45846,USD,2019,FY,2019-12-19,2021-12-17,314000000.0,318000000.0,...,1.021000e+09,-155000000.0,NaN,-1.408000e+09,-1.590000e+09,-206000000.0,600000000.0,-6.690000e+08,-2.990000e+08,-866000000
1,A,2020-10-31,45846,USD,2020,FY,2020-12-18,2022-12-21,309000000.0,312000000.0,...,9.210000e+08,-118000000.0,NaN,NaN,-1.470000e+08,-222000000.0,-45000000.0,-4.090000e+08,-7.170000e+08,59000000
2,A,2021-10-31,45846,USD,2021,FY,2021-12-17,2023-12-20,305000000.0,307000000.0,...,1.485000e+09,-187000000.0,12000000.0,-5.470000e+08,-7.490000e+08,-236000000.0,356000000.0,-7.330000e+08,-6.960000e+08,43000000
3,A,2022-10-31,45846,USD,2022,FY,2022-12-21,2024-12-20,304000000.0,307000000.0,...,1.312000e+09,-291000000.0,9000000.0,-5.200000e+07,-3.340000e+08,-250000000.0,22000000.0,-1.081000e+09,-1.376000e+09,-434000000
4,A,2023-10-31,45846,USD,2023,FY,2023-12-20,2024-12-20,294000000.0,296000000.0,...,1.772000e+09,-298000000.0,-3000000.0,-1.000000e+06,-3.020000e+08,-265000000.0,-43000000.0,-5.080000e+08,-9.380000e+08,537000000

In [8]:
# Practice 2:
# 1. Quick summary of memory usage
cashflow_annual_df.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17611 entries, 0 to 17610
Data columns (total 28 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Ticker                                     17608 non-null  object
 1   Report Date                                17611 non-null  datetime64[ns]
 2   SimFinId                                   17611 non-null  int64
 3   Currency                                   17611 non-null  object
 4   Fiscal Year                                17611 non-null  int64
 5   Fiscal Period                              17611 non-null  object
 6   Publish Date                               17611 non-null  datetime64[ns]
 7   Restated Date                              17611 non-null  datetime64[ns]
 8   Shares (Basic)                             17440 non-null  float64
 9   Shares (Diluted)                           17314 non-null  float64
 10  Net Income/Starting Line                   17459 non-null  float64
 11  Depreciation & Amortization                16682 non-null  float64
 12  Non-Cash Items                             17445 non-null  float64
 13  Change in Working Capital                  17515 non-null  float64
 14  Change in Accounts Receivable              253 non-null    float64
 15  Change in Inventories                      184 non-null    float64
 16  Change in Accounts Payable                 210 non-null    float64
 17  Change in Other                            311 non-null    float64
 18  Net Cash from Operating Activities         17603 non-null  float64
 19  Change in Fixed Assets & Intangibles       16261 non-null  float64
 20  Net Change in Long Term Investment         6212 non-null   float64
 21  Net Cash from Acquisitions & Divestitures  7089 non-null   float64
 22  Net Cash from Investing Activities         17148 non-null  float64
 23  Dividends Paid                             6177 non-null   float64
 24  Cash from (Repayment of) Debt              13967 non-null  float64
 25  Cash from (Repurchase of) Equity           13999 non-null  float64
 26  Net Cash from Financing Activities         17329 non-null  float64
 27  Net Change in Cash                         17611 non-null  int64
dtypes: datetime64[ns](3), float64(19), int64(3), object(3)
memory usage: 6.0 MB

In [9]:
# 2. Exact memory usage in bytes
cashflow_annual_df.memory_usage(deep=True).sum()

np.int64(6263308)

In [10]:
# 3. Break down per column
cashflow_annual_df.memory_usage(deep=True)

Index                                           132
Ticker                                       927043
Report Date                                  140888
SimFinId                                     140888
Currency                                     915772
Fiscal Year                                  140888
Fiscal Period                                898161
Publish Date                                 140888
Restated Date                                140888
Shares (Basic)                               140888
Shares (Diluted)                             140888
Net Income/Starting Line                     140888
Depreciation & Amortization                  140888
Non-Cash Items                               140888
Change in Working Capital                    140888
Change in Accounts Receivable                140888
Change in Inventories                        140888
Change in Accounts Payable                   140888
Change in Other                              140888
Net Cash from Operating Activities           140888
Change in Fixed Assets & Intangibles         140888
Net Change in Long Term Investment           140888
Net Cash from Acquisitions & Divestitures    140888
Net Cash from Investing Activities           140888
Dividends Paid                               140888
Cash from (Repayment of) Debt                140888
Cash from (Repurchase of) Equity             140888
Net Cash from Financing Activities           140888
Net Change in Cash                           140888
dtype: int64

#### Memory usage optimization:
- float64 ‚Üí float32
- int64 ‚Üí int32 / int16
- object ‚Üí category

In [11]:
import pandas as pd
import numpy as np

def reduce_memory_usage(df_orig: pd.DataFrame, verbose=True) -> pd.DataFrame:
    """
    Ëá™Âä®‰ºòÂåñ DataFrame ÁöÑÂÜÖÂ≠òÂç†Áî®Ôºö
    - Â∞Ü int/float ÂàóÈôçÁ≤æÂ∫¶
    - Â∞Ü object ËΩ¨Êç¢‰∏∫ categoryÔºàÂ¶ÇÊûúÂîØ‰∏ÄÂÄºÊØî‰æã < 50%Ôºâ
    - ÊòæÁ§∫‰ºòÂåñÂâçÂêéÂÜÖÂ≠òÂØπÊØî
    """
    df = df_orig.copy()
    start_mem = df.memory_usage(deep=True).sum() / 1024**2
    
    for col in df.columns:
        col_type = df[col].dtype

        if pd.api.types.is_numeric_dtype(col_type):
            # Â§ÑÁêÜÊï¥Êï∞
            if pd.api.types.is_integer_dtype(col_type):
                df[col] = pd.to_numeric(df[col], downcast="integer")
            # Â§ÑÁêÜÊµÆÁÇπÊï∞
            elif pd.api.types.is_float_dtype(col_type):
                df[col] = pd.to_numeric(df[col], downcast="float")
        
        # Â§ÑÁêÜÂ≠óÁ¨¶‰∏≤ / object
        elif col_type == "object":
            num_unique = df[col].nunique()
            num_total = len(df[col])
            if num_unique / num_total < 0.5:  # ÂîØ‰∏ÄÂÄºÂç†ÊØîÂ∞ë‰∫é 50%ÔºåËΩ¨ category
                df[col] = df[col].astype("category")
    
    end_mem = df.memory_usage(deep=True).sum() / 1024**2
    
    if verbose:
        print(f"‰ºòÂåñÂâçÂÜÖÂ≠ò: {start_mem:.2f} MB")
        print(f"‰ºòÂåñÂêéÂÜÖÂ≠ò: {end_mem:.2f} MB")
        print(f"ÂáèÂ∞ë‰∫Ü {(start_mem - end_mem) / start_mem * 100:.1f}%")
    
    return 
reduce_memory_usage(cashflow_annual_df)

‰ºòÂåñÂâçÂÜÖÂ≠ò: 5.97 MB
‰ºòÂåñÂêéÂÜÖÂ≠ò: 3.61 MB
ÂáèÂ∞ë‰∫Ü 39.6%